* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.page {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.page.hidden {
    display: none;
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
    background-color: #f8f9fa;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 10px;
}


.chat-display {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.chat-display p {
    margin: 5px 0;
}

#chatForm {
    display: flex;
    flex-direction: column;
}

#chatInput {
    /* flex: 1; */
    padding: 10px;
    font-size: 16px;
}

#chatForm button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#chatForm button:hover {
    background-color: #45a049;
}
